.feature{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 95px;
    &_img img{
        max-width: 602px;
        transform: translateX(-60px);
    }
    &_content{
        max-width: 502px;
    }
    &_heading{
        margin: 25px 0;
    }
    &_button{
        margin-top: 37px;
        transform: translateX(-15px);
    }
}
@media screen and (max-width: 1023px) {
    .feature{
        margin-top: 80px;
        flex-direction: column-reverse;
        &_content{
            max-width: 650px;
        }
        &_desc{
            font-size: 18px;
        }
        &_img img{
            transform: scale(1.3);
            margin-top: 60px;
        }
    }
}
@media screen and (max-width: 767px) {
    .feature{
        margin-top: $margin-section-mobile;
        margin-bottom: 0;
        &_img img{
            transform: scale(0.8);
            margin-top: 0;
        }
    }
}

