.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    font-family: poppins;
    overflow-x: hidden;

}
.container{
    overflow-x: hidden;
    max-width: 1135px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-fluid{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
.button{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 36px;
    border-radius: 100rem;
    background-color: transparent;
    outline: none;
    border: 0;
    text-align: center;
    height:50px;
    transition:all 0.5 linear;
    &--primary{
        color: #fff;
        background:$orange-color-linear;
        font-weight: 500;
        font-size: 16px;
    }
    &--primary:hover{
        background:#fff;
        transition:all 0.3s linear;
        border: 1px solid $primary-color;
        color: $primary-color;

    }
    &--secondary{
        color: $primary-color;
        border: 1px solid $primary-color;
        font-size: 16px;
        font-weight: 500;
    }
    &--secondary:hover{
        color: #fff;
        transition:all 0.3s linear;
        background: $orange-color-linear;
    }
}
.title-global{
    font-size: 16px;
    color: $primary-color;
    font-weight: 600;
}
.heading-global{
    font-weight: 700;
    color: $black;
    font-size: 40px;
}
.description-global{
    font-size: 16px;
    color: $gray-blur;
    font-weight: 500;
}
.footer-desc{
    font-size: 14px;
    color: #AFACCD;
}