.logo{
    margin-top: $margin-section;
}
@media screen and (max-width: 1023px) {
    .logo{
        margin-top: 20px;
    }
}
@media screen and (max-width: 767px) {
    .logo{
        margin-top: $margin-section-mobile;
        transform: scale(1.3);
    }
}

