.newsletter{
    margin-top: $margin-section;
    background: #F4F6FD;
    border-radius: 67px;
    display: flex;
    align-items: center;
    gap: 80px;
    padding:80px 160px 115px;
    overflow: hidden;

    &_content{
        max-width:405px;
    }
    &_heading{
        font-size: 48px;
        font-weight: 600;
        color: $black;
    }
    &_desc{
        margin-top: 25px;
    }
    &_subscribe{
        max-width:373px;
        & input{
            font-size: 20px;
            height:50px;
            border: none;
            border-radius:26px 0 0 26px;
            padding:0 20px;
            max-width:200px ;
        }
        & button{
            position: absolute;
            transform: translateX(-20px);
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .newsletter{
        flex-direction: column;
        margin-top: 80px;
        gap:40px;
        justify-content: center;
        &_content{
            max-width: 650px;
        }
        &_heading{
            font-size: 40px;
        }
        &_desc{
            font-size: 18px;
        }
        &_subscribe{
            min-width: 300px;
        }
    }
}
