.service{
    margin-top: $margin-section;
    &_header{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    &_title{
        align-items: center;
    }
    &_heading{
        max-width:426px;
        text-align: center;
        margin-top: 30px;
    }
    &_desc{
        margin-top: 40px;
    }
    &_cart{
        display: flex;
        justify-content: space-around;
        gap: 33px;
        &-item{
            max-width: 334px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 5px;
            margin-top: 75px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 44px;
        }
        &-item img{
            margin-top: 40px;
        }
        &-heading{
            margin-top: 25px;
            font-size: 21px;
            color: $black;
            font-weight: 600;
        }
        &-desc{
            margin-top: 20px;
            font-size: 14px;
            color: $gray-blur; 
            text-align: center;
            padding-bottom: 87px;
        }
    }
}
@media screen and (max-width: 1023px) {
    .service{
        margin-top: 80px;
        &_heading{
            max-width: 600px;
        }
        &_desc{
            font-size: 18px;
        }
        &_cart{
            flex-wrap: wrap;
            gap:10px;
            &-heading{
                font-size: 25px;
            }
            &-desc{
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .service{
        margin-top: $margin-section-mobile;
        &_desc{
            text-align: center;
        }
        &_cart{
            &-item{
                margin-top: 25px;
            }
            &-heading{
                font-size: 20px;
            }
            &-desc{
                font-size: 16px;
            }
        }
    }

}

