$font : "Poppins",sans-serif;
$orange-color-linear: 
linear-gradient(103.38deg, #F67102 5.1%, #F4A91E 86.29%);
$primary-color:#FF7D00;
$black: #051441;
$gray: #635F85;
$gray-blur:#5D677E;
$font-size-titles: 40px;
$font-normal:16px;
$margin-section: 135px;
$margin-section-mobile: 40px;
