html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: poppins;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 36px;
  border-radius: 100rem;
  background-color: transparent;
  outline: none;
  border: 0;
  text-align: center;
  height: 50px;
  transition: all 0.5 linear;
}
.button--primary {
  color: #fff;
  background: linear-gradient(103.38deg, #F67102 5.1%, #F4A91E 86.29%);
  font-weight: 500;
  font-size: 16px;
}
.button--primary:hover {
  background: #fff;
  transition: all 0.3s linear;
  border: 1px solid #FF7D00;
  color: #FF7D00;
}
.button--secondary {
  color: #FF7D00;
  border: 1px solid #FF7D00;
  font-size: 16px;
  font-weight: 500;
}
.button--secondary:hover {
  color: #fff;
  transition: all 0.3s linear;
  background: linear-gradient(103.38deg, #F67102 5.1%, #F4A91E 86.29%);
}

.title-global {
  font-size: 16px;
  color: #FF7D00;
  font-weight: 600;
}

.heading-global {
  font-weight: 700;
  color: #051441;
  font-size: 40px;
}

.description-global {
  font-size: 16px;
  color: #5D677E;
  font-weight: 500;
}

.footer-desc {
  font-size: 14px;
  color: #AFACCD;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 0 20px;
  }

  .title-global {
    font-size: 14px;
  }

  .heading-global {
    font-size: 25px;
  }

  .description-global {
    font-size: 16px !important;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo img {
  margin-left: 20px;
}
.header_menu a {
  margin-left: 35px;
  color: #635F85;
  font-size: 16px;
}
.header_menu a::before {
  border-bottom: 1px solid #FF7D00;
}
.header_menu a:hover {
  color: #FF7D00;
}
.header_button button {
  margin-left: 15px;
}
.header_icon-menu {
  font-size: 35px;
  cursor: pointer;
  padding: 4px 8px;
  display: none;
}
.header_icon-close {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  display: none;
  padding: 6px 12px;
}

@media screen and (max-width: 1023px) {
  .header_menu {
    display: none;
    animation: show 0.5s ease-in;
  }
  .header_icon-menu {
    display: block;
  }
  .header_button {
    padding: 8px 10px !important;
    margin-left: 200px;
  }
  .header_icon-close {
    display: block;
    z-index: 9999;
  }
}
.menu_respon {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #051441;
  width: 100%;
  top: 0;
  right: 0;
  height: auto;
  z-index: 99999;
  align-items: center;
  justify-content: stretch;
  padding: 0;
  margin: 0;
}

.menu_respon a {
  font-size: 16px !important;
  color: white !important;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.menu_respon a:first-of-type {
  margin-top: 50px;
}

.menu_respon a:last-of-type {
  margin-bottom: 50px;
}

@keyframes show {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 767px) {
  .header_button {
    max-width: 100px;
    margin: 0;
    display: none;
  }
  .header_button button {
    line-height: 1.3;
  }
  .header_icon-menu {
    font-size: 28px;
  }
}
.hero {
  margin-top: 135px;
  overflow: hidden;
}
.hero_content {
  max-width: 500px;
}
.hero_main {
  display: flex;
  align-items: center;
  gap: 50px;
}
.hero_title {
  font-size: 13px;
  color: #FF7D00;
  margin-bottom: 30px;
}
.hero_heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}
.hero_nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.hero_nav-watch {
  margin-left: 40px;
}
.hero_nav-watch img {
  transform: translateY(12px);
}
.hero_cart img {
  transform: scale(1.1);
  width: 100%;
  margin-left: 30px;
}

@media screen and (max-width: 1023px) {
  .hero_main {
    flex-direction: column;
    gap: 10px;
  }
  .hero_content {
    max-width: 650px;
  }
  .hero_title {
    font-size: 16px;
  }
  .hero_heading {
    font-size: 40px;
  }
  .hero_desc {
    font-size: 18px;
  }
  .hero_cart {
    transform: scale(0.7);
  }
  .hero_nav {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-top: 40px;
  }
  .hero_title {
    font-size: 14px;
  }
  .hero_heading {
    font-size: 25px;
  }
  .hero_nav span {
    font-size: 14px;
  }
  .hero_cart img {
    transform: scale(1.5);
  }
}
.logo {
  margin-top: 135px;
}

@media screen and (max-width: 1023px) {
  .logo {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    margin-top: 40px;
    transform: scale(1.3);
  }
}
.service {
  margin-top: 135px;
}
.service_header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service_title {
  align-items: center;
}
.service_heading {
  max-width: 426px;
  text-align: center;
  margin-top: 30px;
}
.service_desc {
  margin-top: 40px;
}
.service_cart {
  display: flex;
  justify-content: space-around;
  gap: 33px;
}
.service_cart-item {
  max-width: 334px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 44px;
}
.service_cart-item img {
  margin-top: 40px;
}
.service_cart-heading {
  margin-top: 25px;
  font-size: 21px;
  color: #051441;
  font-weight: 600;
}
.service_cart-desc {
  margin-top: 20px;
  font-size: 14px;
  color: #5D677E;
  text-align: center;
  padding-bottom: 87px;
}

@media screen and (max-width: 1023px) {
  .service {
    margin-top: 80px;
  }
  .service_heading {
    max-width: 600px;
  }
  .service_desc {
    font-size: 18px;
  }
  .service_cart {
    flex-wrap: wrap;
    gap: 10px;
  }
  .service_cart-heading {
    font-size: 25px;
  }
  .service_cart-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .service {
    margin-top: 40px;
  }
  .service_desc {
    text-align: center;
  }
  .service_cart-item {
    margin-top: 25px;
  }
  .service_cart-heading {
    font-size: 20px;
  }
  .service_cart-desc {
    font-size: 16px;
  }
}
.feature {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 95px;
}
.feature_img img {
  max-width: 602px;
  transform: translateX(-60px);
}
.feature_content {
  max-width: 502px;
}
.feature_heading {
  margin: 25px 0;
}
.feature_button {
  margin-top: 37px;
  transform: translateX(-15px);
}

@media screen and (max-width: 1023px) {
  .feature {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
  .feature_content {
    max-width: 650px;
  }
  .feature_desc {
    font-size: 18px;
  }
  .feature_img img {
    transform: scale(1.3);
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .feature_img img {
    transform: scale(0.8);
    margin-top: 0;
  }
}
.testmonial {
  background: #F4F8FD;
}

.testmonial .feature {
  flex-direction: row-reverse;
}

.testmonial .feature_img {
  transform: scale(1.5);
  margin-left: 50px;
}

@media screen and (max-width: 1023px) {
  .testmonial {
    margin-top: 80px;
    padding: 10px;
  }
  .testmonial .feature {
    flex-direction: column-reverse;
  }
  .testmonial .feature_img img {
    transform: translateX(-75px);
  }
}
@media screen and (max-width: 767px) {
  .testmonial {
    margin-top: 0;
  }
  .testmonial .feature_img img {
    max-width: 350px;
    transform: translateX(-60px);
  }
}
.feedback {
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback_values {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.feedback_values span {
  font-size: 25px;
  color: #FF7D00;
  margin: 0 12px;
}

@media screen and (max-width: 1023px) {
  .feedback {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
  .feedback_img img {
    transform: scale(1.3);
    margin-left: 60px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .feedback {
    margin-top: 40px;
  }
  .feedback_img img {
    transform: scale(1);
    max-width: 450px;
    margin: 0 auto;
  }
}
.blog {
  margin-top: 135px;
}
.blog_header {
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.blog_desc {
  margin-top: 25px;
  margin-bottom: 75px;
}
.blog_carts {
  display: flex;
  align-items: center;
  gap: 34px;
}
.blog_item {
  max-width: 354px;
  max-height: 483px;
  align-items: center;
}
.blog_item-title {
  font-size: 18px;
  font-weight: 600;
  color: #051441;
  padding: 0 25px;
  margin-top: 30px;
  transition: all 0.1s linear;
}
.blog_item-title:hover {
  color: #FF7D00;
}
.blog_item-desc {
  padding: 0 25px;
  margin-top: 10px;
  font-size: 13px;
  color: #5D677E;
}

@media screen and (max-width: 1023px) {
  .blog {
    margin-top: 80px;
  }
  .blog_desc {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .blog_carts {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .blog_item {
    max-width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
  .blog_item-title {
    font-size: 20px;
  }
  .blog_item-desc {
    font-size: 16px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .blog {
    margin-top: 40px;
  }
}
.newsletter {
  margin-top: 135px;
  background: #F4F6FD;
  border-radius: 67px;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 80px 160px 115px;
  overflow: hidden;
}
.newsletter_content {
  max-width: 405px;
}
.newsletter_heading {
  font-size: 48px;
  font-weight: 600;
  color: #051441;
}
.newsletter_desc {
  margin-top: 25px;
}
.newsletter_subscribe {
  max-width: 373px;
}
.newsletter_subscribe input {
  font-size: 20px;
  height: 50px;
  border: none;
  border-radius: 26px 0 0 26px;
  padding: 0 20px;
  max-width: 200px;
}
.newsletter_subscribe button {
  position: absolute;
  transform: translateX(-20px);
}

@media screen and (max-width: 1023.98px) {
  .newsletter {
    flex-direction: column;
    margin-top: 80px;
    gap: 40px;
    justify-content: center;
  }
  .newsletter_content {
    max-width: 650px;
  }
  .newsletter_heading {
    font-size: 40px;
  }
  .newsletter_desc {
    font-size: 18px;
  }
  .newsletter_subscribe {
    min-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .newsletter {
    margin-top: 40px;
  }
  .newsletter_content {
    min-width: 350px;
  }
  .newsletter_heading {
    font-size: 25px;
  }
}
.footer {
  display: flex;
  align-items: center;
  background: #052347;
  padding: 115px 55px;
  color: #fff;
}
.footer_infor {
  max-width: 235px;
}
.footer_logo {
  font-size: 20px;
  display: flex;
}
.footer_logo img {
  margin-right: 10px;
}
.footer_detail {
  margin: 25px 0;
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_list {
  margin-left: 220px;
  display: flex;
  align-items: center;
}
.footer_item {
  margin-right: 80px;
}
.footer_item-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-desc li {
  list-style: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 80px 20px;
    align-items: flex-start;
    gap: 50px;
  }
  .footer_list {
    margin: 0;
    flex-wrap: wrap;
    width: 440px;
    gap: 20px;
  }
  .footer_item {
    max-width: 200px;
    margin: 0;
  }
  .footer_item-title {
    font-size: 22px;
  }
  .footer_logo {
    font-size: 30px;
  }
  .footer-desc {
    font-size: 16px;
  }
  .footer_icon img {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
  .footer_infor {
    max-width: 400px;
  }
  .footer_item-title {
    font-size: 18px;
  }
  .footer-desc li {
    font-size: 14px;
  }
  .footer_list {
    gap: 20px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
